<div>
  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="backClicked()">keyboard_backspace</mat-icon>

  <br>


  <mat-card style="margin-right:2em; margin-left:2em;" >
    <mat-card-content style="margin-left:1em;">
      
      {{textMessage}}
      
    </mat-card-content>
    <mat-card-actions>
      <button style="margin-left:1em;" mat-raised-button   (click)="callMessageAPI()">Send</button>
    </mat-card-actions>
  </mat-card> 
  <br>



  <!-- <div style="float:left;padding-left:2em">
    
    <mat-form-field class="example-full-width">
        
      <input matInput  value={{textMessage}} readonly>
    </mat-form-field>
    <br>
    <button mat-raised-button   (click)="callMessageAPI()">Send</button>
  </div> -->
    
</div>
