<ng-container *ngIf="loading==true">
    <!-- <p class="loading">Patience, we are currently loading your data...</p> -->
        <mat-progress-spinner  style="margin:0 auto;overflow: hidden"
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value">
        </mat-progress-spinner>

</ng-container>



<mat-list role="list" *ngFor="let contact of contactList">
    <mat-list-item role="listitem" (click)="navigateToDetails(contact)"> {{contact.fName}}</mat-list-item>
</mat-list>



